
<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand">Navbar</a>
    
    <% if(auth.check) {%>
      
      <div>
        <a href="/" class="btn btn-primary ml-3">panel</a>
        <a href="/logout" class="btn btn-danger">logout</a>
      </div>
    
    <% } else{%>

      <div>
        <a href="/auth/register" class="btn btn-primary ml-3">register</a>
        <a href="/auth/login" class="btn btn-danger">login</a>
      </div>

    <% } %>
  
  </div>
</nav>