
<% if(massages.length) { %>
    <div class="alert alert-danger" role="alert">
        
        <% massages.forEach(msg=>{ %>
            
            <p><%= msg %></p>  
        
        <% }) %>
    </div>
  <% } %>
        
  
  <% if(success.length) { %>
    <div class="alert alert-success" role="alert">
            
        <% success.forEach(succ=>{ %>
                
            <p><%= succ %></p>  
            
        <% }) %>
    </div>
  
  <% } %>
  
  
  <div class="container">
    <h1>Create New User</h1>
    
    <form action="/admin/user/create" method="POST"  >
      
    <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input type="text" class="form-control" id="username" name="username" placeholder="Enter your username">
    </div>

    
    
    <div class="mb-3">       
        <label for="email" class="form-label">Email address</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email address">
    </div>
    
    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="Enter your password">
    </div>
    
      <button type="submit" class="btn btn-primary">Create User</button>
    </form>
  </div>