
<% if(massages.length) { %>
    <div class="alert alert-danger" role="alert">
        
        <% massages.forEach(msg=>{ %>
            
            <p><%= msg %></p>  
        
        <% }) %>
    </div>
  <% } %>
        
  
  
  <div class="container">
    <h1>Edit Permission</h1>
    
    <form action="/admin/permission/<%= permission._id %>?_method=PUT" method="POST">
      <div class="mb-3">
        <label for="name">Name:</label>
        <input type="text" class="form-control" id="name" name="name"  value="<%= permission.name %>">
      </div>
      
      <div class="mb-3">
        <label for="label">Label:</label>
        <input type="text" class="form-control" id="label" name="label" value="<%=permission.label %>">
      </div>
  
      
      <button type="submit" class="btn btn-primary">Edit Permission</button>
    </form>
  </div>